binary/
binary*.iso
binary*.img
binary*.tar*
binary*.contents
binary*.packages
binary*.zsync

.build/
build.log

.lock
cache/

bootfs
rootfs

chroot/
chroot.packages.*
chroot.files
asl-*.img*
asl-*.contents*
asl-*amd64*


config/build

config/includes.chroot/etc/asl_version

config/archives/*raspbian*
config/archives/*Raspbian*
config/archives/azlux*
config/package-lists/*raspbian*
config/package-lists/*raspbian*
config/package-lists/*asl-kernel*

config/binary
config/bootstrap
config/chroot
config/common
config/source

config/control

source/
source*.iso
source*.img
source*.tar*
source*.contents
source*.packages
source*.zsync
