<style type="text/css">

html { 
	background-color: powderblue;
	color: black 
	font-size: 12px;
	font-family: New Courier;
	text-align: left;
}

body {
	background-color: powderblue;
	color: black
	font-size: 12px;
        font-family: New Courier;
        text-align: left;
}

table {
	background-color: powderblue;
	color: black;
	font-size: 12px;
	padding: 2px;
	margin: 2px;
	border-style: groove;
	border-width: 0px;
	font-family: New Courier;
}	
</style>

